<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--******spring/annotation******-->
    <!-- 开启注解扫描 -->
    <context:component-scan base-package="spring.annotation"/>
    <!-- 开启aop注解方式，此步骤s不能少，这样java类中的aop注解才会生效 -->
    <aop:aspectj-autoproxy/>
    <!-- 基于类的代理将起作用（需要cglib库）  -->
    <aop:aspectj-autoproxy proxy-target-class="true" />

    <!--******spring/annotation/demo3xmlconfig******-->
    <!--切面-->
    <bean id="advice3" class="spring.annotation.demo3xmlconfig.MyAdvice3"/>
    <aop:config>
        <aop:aspect ref="advice3">
            <aop:pointcut id="useXml" expression="execution(* spring.annotation.demo3xmlconfig.MyAdvice3Test.*(..))" />
            <aop:before method="doBefore" pointcut-ref="useXml" />
            <aop:around method="doAround" pointcut-ref="useXml" />
            <aop:after method="doAfter" pointcut-ref="useXml" />
        </aop:aspect>
    </aop:config>

</beans>