<?xml version="1.0" encoding="UTF-8"?>
<!-- 日志级别 OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- status属性配置log4j2自身的日志信息打印级别 -->
<!-- packages插件类搜索目录 -->
<!-- monitorInterval配置文件重新加载间隔，单位为秒，最小间隔5秒 -->
<Configuration status="warn">
    <!-- 自定义属性 -->
    <Properties>
        <!-- 日志文件统一存放路径 -->
        <Property name="LOG_HOME">D://</Property>
        <!-- 模块名,使用子站名称 -->
        <Property name="SERVER_NAME">moduleName</Property>
    </Properties>
    <Appenders>
        <!-- 输出到控制台 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <File name="framework.slf4j" fileName="D://framework.log//test.framework.slf4j" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <AsyncLogger name="framework.slf4j" level="trace" includeLocation="true">
            <AppenderRef ref="framework.slf4j"/>
        </AsyncLogger>
        <AsyncRoot level="debug">
            <AppenderRef ref="console"/>
        </AsyncRoot>
    </Loggers>
</Configuration>